{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <title>Home</title>
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:logout' %}">Logout</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
    <h1>Welcome to NATlibrary</h1>
    <section>
        <p>Hello {{ name }} from {{ class }}</p>

        <h4 class="total">Kamu memiliki {{total}} buku di keranjangmu</h5>

<table id="product_table"></table>

        <br />
        <h5>Sesi terakhir login: {{ last_login }}</h5>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <form id="form" onsubmit="return false;">
                          {% csrf_token %}
                          <div class="mb-3">
                              <label for="name" class="col-form-label">Name:</label>
                              <input type="text" class="form-control" id="name" name="name"></input>
                          </div>
                          <div class="mb-3">
                              <label for="price" class="col-form-label">Price:</label>
                              <input type="number" class="form-control" id="price" name="price"></input>
                          </div>
                          <div class="mb-3">
                              <label for="description" class="col-form-label">Description:</label>
                              <textarea class="form-control" id="description" name="description"></textarea>
                          </div>
                          <div class="mb-4">
                            <label for="image_url" class="col-form-label">Image Url:</label>
                            <textarea class="form-control" id="image_url" name="image_url"></textarea>
                          </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                  </div>
              </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>
        
        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>
    </section>

    <div id="get_card" class="cardss" style="display: grid;grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); grid-gap: 20px; margin: 40px; justify-content: center; justify-items: center; padding-bottom: 20px;">
    </div>

<script>
  async function getProducts() {
      return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
  }

  async function refreshProducts() {
      document.getElementById("product_table").innerHTML = ""
      const products = await getProducts()
      let htmlString = `<tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Options</th>
      </tr>`
      products.forEach((item) => {
        htmlString += `\n<tr>
          <td>${item.fields.name}</td>
          <td>${item.fields.price}</td>
          <td>${item.fields.description}</td>
          <td>${item.fields.date_added}</td>
          <td>
              <button onclick="editProduct(${item.pk})">Edit</button>
              <button onclick="deleteProduct(${item.pk})">Delete</button>
          </td>
        </tr>`
      })

      document.getElementById("product_table").innerHTML = htmlString
  }

  refreshProducts()

  async function refreshCards() {
        document.getElementById("get_card").innerHTML = ""
        const products = await getProducts()
        let htmlString = ''
        products.forEach((item) => {
          htmlString += `<div class="card" style="width: 14rem; background-color: aliceblue; border: 1px;">
          <img src=${item.fields.image_url} class="card_img" alt="productimage">
          <div class="card-body">
          <h5 class="card-title" style="font-family: "Times New Roman", Times, serif; font-weight: 700;">${ item.fields.name }</h5>
          <p class="card-text" style="font-family: "Times New Roman", Times, serif;">${ item.fields.description }</p>
          <p class="card-text" style="font-family: "Times New Roman", Times, serif;">${ item.fields.price }</p>
          <p class="card-text" style="font-family: "Times New Roman", Times, serif;">${ item.fields.date_added }</p>
          <td>
              <button onclick="editProduct(${item.pk})">Edit</button>
              <button onclick="deleteProduct(${item.pk})">Delete</button>
          </td>
          </div>
      </div> `
        })
        
        document.getElementById("get_card").innerHTML = htmlString
    }

    refreshCards()

  function addProduct() {
      fetch("{% url 'main:add_product_ajax' %}", {
          method: "POST",
          body: new FormData(document.querySelector('#form'))
      }).then(()=>{
        refreshCards()
        refreshProducts()
      })

      document.getElementById("form").reset()
      return false
  }

  document.getElementById("button_add").onclick = addProduct

  function editProduct(pk) {
    window.location.href = `/edit-product/${pk}`; 
  }

  function deleteProduct(pk) {
    window.location.href = `/delete/${pk}`;  
  }
</script>
</div>
{% endblock content %}